
@media (max-width: 480px){
    .container{
        flex: 1 1 100%;
        flex-direction: column;
        
        
    }
    .options, .animate{
        flex-direction: row;
        justify-content: space-evenly;
    }
}
@media (max-width: 768px){
    .optionsContainer{
        flex: 1 1 100%;
        margin: auto;
    }
    .options{
        flex-direction: row;
        
    }
}

h1{
    text-align: center;
    font-weight: 750;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 4vw;
}
.container{
    display: flex;
    justify-content: space-evenly;
    border: black solid 3px;
    height: 22rem;
}
.title{
    font-size: 1.5rem;
}
.options, .animate{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.choice{
    max-width: 16%;
    height: auto;
   
    
}
.your_choice, .comp_choice{
    font-size: 2rem;
}
.choice:hover{
    transform: scale(1.1);
}
.vs{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.versus{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 7vw;
}
.result_section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    margin-top: 1rem;
    min-height: 7rem;
}
.score_board{
    
    display: flex;
    justify-content: space-evenly;
    
    min-width: 80%;
    height: 2rem;
}
.board{
    text-align: center;
    font-size: 1rem;
}

.initialForm{
   visibility: hidden;
}
.your_score, .comp_score{
    text-align: center;
    font-size: 2rem;
    margin: 1rem;
    
}
.your_score{
    color: blue;
}
.comp_score{
    color: red;
}
.resultBoard{
    font-size: 2rem;
}